<div class="container">
    <div class="row">
        <div class="col-sm-3"><h3>Plage Company</h3> </div>
        <div class="col-sm-9">
            <ul class="nav nav-pills">
                <li class="nav-item">
                <a class="nav-link" routerLink="/concessionnaire" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/concessionnaire/resa" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Toutes les réservations</a>
                </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/concessionnaire/clients" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Tous les clients</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="deco()"  >Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</div>
