<h2 class="text-center">Planning</h2>
<form name="f">
  <div class="form-group">
    <label for="datedeb">Du:</label>
    <input type="date" class="form-control" id="datedeb" name="datedeb" />
  </div>
  <div class="form-group">
    <label for="datefin">Au:</label>
    <input type="date" class="form-control" id="datefin" name="datefin" />
  </div>
  <table name="planning">
    <tr>
      <div></div>
    </tr>
    <tr *ngFor="let file of files">
      <ng-template ngFor let-parasol [ngForOf]="file" let-i="index">
        <td [ngClass]="{ reserve: parasol.reserve, select: parasol.select }">
          <div (click)="select(parasol)"></div>
        </td>
        <td *ngIf="i == 4" class="chemin"><div></div></td>
      </ng-template>
    </tr>
  </table>
</form>