<!-- <h2 class="text-left">Planning</h2> -->
<form name="f">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <label for="datedeb">Du:</label>
      </div>
      <div class="col-md-3">
        <input
          type="date"
          class="form-control"
          id="datedeb"
          name="datedeb"
          #datedeb
          placeholder="Du"
        />
      </div>

      <div class="col-md-1">
        <label for="datedeb">Au:</label>
      </div>
      <div class="col-md-3">
        <input
          type="date"
          class="form-control"
          id="datefin"
          name="datefin"
          #datefin
          placeholder="Au"
        />
      </div>
      <div class="form-group col-md-2">
        <input
          class="btn btn-primary"
          (click)="actualiser(datedeb, datefin)"
          value="Voir les disponibilités"
        />
      </div>
    </div>
  </div>
</form>
<br />
<div class="row">
  <div class="col-xl-8">
    <app-plage-selector
      [choisir]="false"
      [montrer]="montrer"
      [dateD]="this.dateD"
      [dateF]="this.dateF"
    ></app-plage-selector>
  </div>
</div>
