<div class="container">
    <div class="row">
        <div class="col-sm-3"><h3>Plage Company</h3> </div>
        <div class="col-sm-9">
            <ul class="nav nav-pills">
                <li class="nav-item">
                <a class="nav-link" routerLink="/locataire" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/locataire/voir" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Mes réservations</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/locataire/resa" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Nouvelle réservation</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="deco()" >Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</div>
