<div class="row">
    <div class="col-md-2 nom">
      Identité
    </div>
    <div class="col-md-2 nom">
      email
    </div>
    <div class="col-md-2"><button class="btn btn-warning"  (click)="trierParents()">Trier par Parenté</button></div>
    <div class="col-md-2">Pays</div>
    <div class="col-md-2"><button class="btn btn-warning"  (click)="trierDate()">Trier par Date</button></div>
    <div class="col-md-2">
        <button class="btn btn-warning"  (click)="trierValide()">Trier par compte validés</button>
    </div>
  </div>
  
<app-item-locataire *ngFor="let locataire of locataires" [locataire]="locataire"></app-item-locataire>
